<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Medicare - Add Product</title>
		<link rel="stylesheet" href="styles\styles.css">
		<link rel="stylesheet" href="styles\productStyles.css">
	</head>
	<body>
		<div class="nav">
			<ul class="nav-left">
				<li><a href="#main">Main Page</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#contact">Contact</a></li>
				<li><a href="#viewproduct">View Products</a></li>
			</ul>
			<ul class="nav-right">
				<li><a href="signup.html">Sign Up</a></li>
				<li><a href="#">Login</a></li>
			</ul>
		</div>
		<div class="products">
			<h2 id="editHeader">
				Add Product
			</h2>
			<form action="#">
				<table id="editProduct">
					<tr>
						<td id="editTag">Name:</td> <!-- Name -->
						<td><input type="text"></td>
					</tr>
					<tr>
						<td id="editTag">Brand:</td> <!-- Brand -->
						<td><input type="text"></td>
					</tr>
					<tr>	
						<td id="editTag">Qty. Available:</td> <!-- Qty -->
						<td><input type="number" min="0"></td>
					</tr>
					<tr>	
						<td id="editTag">Price ($):</td> <!-- Price -->
						<td><input type="text"></td>
					</tr>
					<tr>
						<td colspan="2"><button type="submit" id="editButton">Add</button></td>
					</tr>
				</table>
			</form>
		</div>
	</body>
</html>