<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>Medicare - Cart</title>
		<link rel="stylesheet" href="/css/styles.css">
		<link rel="stylesheet" href="/css/productStyles.css">
	</head>
	<body>
		<div class="nav">
			<ul class="nav-left">
				<li><a th:href="@{/}">Main Page</a></li>
				<li><a th:href="@{/about}">About</a></li>
				<li><a th:href="@{/contact}">Contact</a></li>
				<li><a th:href="@{/product}">View Products</a></li>
			</ul>
			<ul class="nav-right">
				<li><a th:href="@{/login}">Login</a></li>
				<li><a th:href="@{/signup}">Sign Up</a></li>
			</ul>
		</div>
		<div class="products">
			<h2>
				Your Cart:
			</h2>
			<table class="cartTable">
				<thead>
					<tr>
						<th>Product</th>
						<th>Price</th>
						<th>Quantity</th>
						<th>Subtotal</th>
					</tr>
				</thead>
				<tbody>
					<tr id="cartProduct">
						<td>
							<div id="productInCart">
								<img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-157402355-1549537663.jpg?crop=1.00xw:0.806xh;0,0.0583xh&resize=980:*">
								<div>
									<h3>Paracetamol</h3> <!-- Name -->
									<p>Brand: Cipla</p> <!-- Brand -->
									<p>Description: An antipyretic medicine used for fevers.</p> <!-- Description -->
								</div>
							</div>
						</td>
						<td>$18</td>
						<td><input type="number" name="qtyInCart" id="qtyInCart" min="1"/></td>
						<td>$18</td>
						<td>
							<a href="#"><img src="/images/refresh.png" alt="Refresh" height="30" /></a>
							<a href="#"><img src="/images/delete.png" alt="Delete" height="30" /></a>
						</td>
					</tr>
					<tr id="cartProduct">
						<td>
							<div id="productInCart">
								<img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-157402355-1549537663.jpg?crop=1.00xw:0.806xh;0,0.0583xh&resize=980:*">
								<div>
									<h3>Paracetamol</h3> <!-- Name -->
									<p>Brand: Cipla</p> <!-- Brand -->
									<p>Description: An antipyretic medicine used for fevers.</p> <!-- Description -->
								</div>
							</div>
						</td>
						<td>$18</td>
						<td><input type="number" name="qtyInCart" id="qtyInCart" min="1"/></td>
						<td>$18</td>
						<td>
							<a href="#"><img src="/images/refresh.png" alt="Refresh" height="30" /></a>
							<a href="#"><img src="/images/delete.png" alt="Delete" height="30" /></a>
						</td>
					</tr>
					<tr id="cartManagement">
						<td><button type="submit" id="continueShoppingButton"><b>&#8249</b> Continue Shopping</button></td>
						<td></td>
						<td></td>
						<td>Total: <b>$18</b></td>
						<td><button type="submit" id="checkoutButton">Checkout <b>&#8250</b></button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>