<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Login</title>
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/loginStyles.css">
</head>
<body>
	<div class="nav">
		<ul class="nav-left">
			<li><a href="index.html">Main Page</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="contact.html">Contact</a></li>
			<li><a href="#">View Products</a></li>
		</ul>
		<ul class="nav-right">
			<li><a href="signup.html">Sign Up</a></li>
			<li><a href="login.html">Login</a></li>
		</ul>
	</div>

	<main>
		<form>
			<div class="container">
				<h1 id="loginHeader1">Login</h1>
				<div id="loginInputs">
					<label>Email:</label>
					<input id="email" type="email" placeholder="Enter Email" name="useremail" required><br>
					<label>Password:</label>
					<input id="password" type="password" placeholder="Enter Password" name="password" required><br><br>
				</div>
				<button id=loginButton type="submit">Login</button><br>
				<h2 id="loginHeader2">New user? <a href="signup.html"> Register Here</a></h2>
			</div>
		</form>
	</main>
</body>
</html>