<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Login</title>
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/loginStyles.css">
</head>
<body>
	<div class="nav">
		<ul class="nav-left">
			<li><a th:href="@{/}">Main Page</a></li>
			<li><a th:href="@{/about}">About</a></li>
			<li><a th:href="@{/contact}">Contact</a></li>
			<li><a th:href="@{/product}">View Products</a></li>
		</ul>
		<ul class="nav-right">
			<li><a th:href="@{/login}">Login</a></li>
			<li><a th:href="@{/signup}">Sign Up</a></li>
		</ul>
	</div>

	<main>
		<form action="#" th:action="@{/login}" th:object="${user}" method="post">
			<div class="container">
				<h1 id="loginHeader1">Login</h1>
				<div id="loginInputs">
					<label>Email:</label>
					<input id="email" type="email" th:field="*{email}" placeholder="Enter Email" name="useremail" required><br>
					<label>Password:</label>
					<input id="password" type="password" th:field="*{password}" placeholder="Enter Password" name="password" required><br><br>
				</div>
				<button id=loginButton type="submit">Login</button><br>
				<h2 id="loginHeader2">New user? <a th:href="@{/signup}"> Register Here</a></h2>
			</div>
		</form>
	</main>
</body>
</html>