<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Sign Up</title>
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/signupStyles.css">
	<!-- <script type="text/javascript" src="scripts\signupScript.js"></script> -->
</head>
<body>

	<div class="nav">
		<ul class="nav-left">
			<li><a th:href="@{/}">Main Page</a></li>
			<li><a th:href="@{/about}">About</a></li>
			<li><a th:href="@{/contact}">Contact</a></li>
			<li><a th:href="@{/product}">View Products</a></li>
		</ul>
		<ul class="nav-right">
			<li><a th:href="@{/login}">Login</a></li>
			<li><a th:href="@{/signup}">Sign Up</a></li>
		</ul>
	</div>

	<main>
		<form action="#" th:action="@{/signup}" th:object="${user}" method="post">
			<div class="container">
				<h1 id="signupHeader1">Register</h1>
				<div id="signupInputs">
					<label>First Name:</label>
					<input type="text" th:field="*{firstName}" placeholder="Enter First Name" name="firstname" required><br>
					<label>Last Name:</label>
					<input id="lastName" type="text" th:field="*{lastName}" placeholder="Enter Last Name" name="lastname" required><br>
					<label>Email:</label>
					<input id="email" type="email" th:field="*{email}" placeholder="Enter Email" name="useremail" required><br>
					<label>Password:</label>
					<input id="password" type="password" th:field="*{password}" onkeyup="check();" placeholder="Enter Password" name="password" required><br>
					<label>Confirm Password:</label>
					<input id="confirmPassword" type="password" th:field="*{confirmPassword}" onkeyup="check();" placeholder="Re-Enter Password" name="password" required><br>
					<span id="message">""</span><br>
				</div>
				<button id=signupButton type="submit">Register</button><br>
				<h2 id="signupHeader2">Already have an account? <a th:href="@{/login}"> Login Here</a></h2>
			</div>
		</form>
	</main>
</body>
</html>
