<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Sign Up</title>
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/signupStyles.css">
	<!-- <script type="text/javascript" src="scripts\signupScript.js"></script> -->
</head>
<body>
	<div class="nav">
		<ul class="nav-left">
			<li><a href="index.html">Main Page</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="contact.html">Contact</a></li>
			<li><a href="#">View Products</a></li>
		</ul>
		<ul class="nav-right">
			<li><a href="signup.html">Sign Up</a></li>
			<li><a href="login.html">Login</a></li>
		</ul>
	</div>

	<main>
		<form>
			<div class="container">
				<h1 id="signupHeader1">Register</h1>
				<div id="signupInputs">
					<label>First Name:</label>
					<input id=firstName type="text" placeholder="Enter First Name" name="firstname" required><br>
					<label>Last Name:</label>
					<input id="lastName" type="text" placeholder="Enter Last Name" name="lastname" required><br>
					<label>Email:</label>
					<input id="email" type="email" placeholder="Enter Email" name="useremail" required><br>
					<label>Password:</label>
					<input id="password" type="password" onkeyup="check();" placeholder="Enter Password" name="password" required><br>
					<label>Confirm Password:</label>
					<input id="confirmPassword" type="password" onkeyup="check();" placeholder="Re-Enter Password" name="password" required><br>
					<span id="message">""</span><br>
				</div>
				<button id=signupButton type="submit">Register</button><br>
				<h2 id="signupHeader2">Already have an account? <a href="login.html"> Login Here</a></h2>
			</div>
		</form>
	</main>
</body>
</html>
