<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
	<!-- <script src="/js/thanks.js"></script> -->
	<link rel="stylesheet" href="/css/styles.css">
	<!-- <link rel="stylesheet" href="/css/thanks.css.css"> -->
	
	

<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = (("0"+(dt.getMonth()+1)).slice(-2)) +"/"+ (("0"+dt.getDate()).slice(-2)) +"/"+ (dt.getFullYear()) +" "+ (("0"+dt.getHours()+1).slice(-2)) +":"+ (("0"+dt.getMinutes()+1).slice(-2));

		<!-- str = str.replace(/\d(?=\d{4})/g, "*"); -->
</script>


  </head>

</html>


  <body>
    <div class="main">
      <div class="order-card">
        <div class="img-div">
        <!-- <img src="https://res.cloudinary.com/dyvivj6d5/image/upload/v1633008237/illustration-hero_hehadt.svg" alt="" /> -->
		<img src="C:\Users\kirad\OneDrive\Desktop\orderSummary1.jpg" alt=""/>
        </div>

        <div class="content-div">
          <h2 class="card-title"><b>Order Summary</b></h2>

          <p class="card-subtitle">
           
          </p>

          <div class="plan-div">
            <!-- <div class="plan-about"> -->
              <!-- <div class="music-icon">
                <img src="https://res.cloudinary.com/dyvivj6d5/image/upload/v1633008286/icon-music_sapdxr.svg" alt="" />
				
              </div> -->

             <!--  <div>
                <div class="plan-name">???</div>

                <div class="plan-price">???</div>
              </div>
            </div>

            <div class="change-div">???</div>
          </div> -->
		  <div class="ticket">
            <!-- <img src="./logo.png" alt="Logo"> -->
            <p class="centered">
			<p style="font-family: cursive;font-size:14px">HealthCare</b> Solutions</br>2002 Hicombe Boulevard<br>Houston Texas 77030<br>843-433-9898</p>
				
              
				<p>Email : <h3 th:text=${checkout.email}"></h3></p>
				<p>Credit card # : <h3 th:text=${checkout.cardnumber}"></h3></p>
				<p>Date : <h3 id='datetime'><h3></p>
		        <table class="center">
                <thead>
                    <tr>
                        <th class="quantity">Q.</th>
                        <th class="name">Items</th>
                        <th class="price">$$</th>
						<th class="subTotal">sub$$</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="quantity">1.00</td>
                        <td class="name"><h3 th:text="${product.name}">item1</td>
                        <td class="price">$</td>
						<td class="price">$</td>
						
                    </tr>
                    <tr>
                        <td class="quantity">2.00</td>
                        <td class="name">item 2</td>
                        <td class="price">$</td>
                    </tr>
                    <tr>
                        <td class="quantity">1.00</td>
                        <td class="name">item 3</td>
                        <td class="price">$</td>
                    </tr>
                    <tr>
                        <td class="quantity"></td>
                        <td class="name">TOTAL</td>
                        <td class="price">$$$</td>
                    </tr>
                </tbody>
            </table>
		    <p class="centered">Thanks for your purchase!
                <br>See you again!!</p>
        </div>
		  
		  </div>

          <div class="card-cta">
            <div class="proceed-btn">
              <button>Log Out</button>
            </div>

            <!-- <div class="cancel-btn"> -->
              <!-- <button>Cancel Order</button>
            </div> -->
          
        </div>
      </div>
    </div>
  </body>