<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
	<!-- <script src="/js/thanks.js"></script> -->
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/thanksStyle.css">
	
	

<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = (("0"+(dt.getMonth()+1)).slice(-2)) +"/"+ (("0"+dt.getDate()).slice(-2)) +"/"+ (dt.getFullYear()) +" "+ (("0"+dt.getHours()+1).slice(-2)) +":"+ (("0"+dt.getMinutes()+1).slice(-2));

</script>


  </head>

  <body>
    <div class="main">
      <div class="order-card">
        <div class="img-div">
		<img src="/images/orderSummary1.jpg" alt=""/>
        </div>

        <div class="content-div">
          <h2 class="card-title"><b>Order Summary</b></h2>

          <p class="card-subtitle">
           
          </p>

          <div class="plan-div">
		  <div class="ticket">
            <p class="centered">
			<p style="font-family: cursive;font-size:14px">HealthCare</b> Solutions</br>2002 Hicombe Boulevard<br>Houston Texas 77030<br>843-433-9898</p>
				
              
				<p>Email : <h3></h3></p>
				<p>Credit card # : <h3></h3></p>
				<p>Date : <h3 id='datetime'><h3></p>
		        <table class="center">
                <thead>
                    <tr>
                    	<th class="name">Items</th>
                        <th class="quantity">Q.</th>
                        <th class="price">$$</th>
						<th class="subTotal">sub$$</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="cartProduct" th:each="product : ${products}">
                        <td class="name"><h3 th:text="${product.key.name}"></h3></td>
                        <td class="quantity" th:text="${product.value}"></td>
                        <td class="price" th:text="${'$' + product.key.price}"></td>
						<td class="price" th:text="${'$' + product.key.price * product.value}"></td>
                    </tr>
                    <tr>
                        <td class="name">TOTAL</td>
                        <td class="price" th:text="${'$' + totalSum}"></td>
                    </tr>
                </tbody>
            </table>
		    <p class="centered">Thanks for your purchase!
                <br>See you again!!</p>
        </div>
		  
		  </div>

          <div class="card-cta">
            <div class="proceed-btn">
              <button>Log Out</button>
            </div>
          
        </div>
      </div>
    </div>
  </body>
</html>
 