<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Medicare - Update Product</title>
		<link rel="stylesheet" href="/css/styles.css">
		<link rel="stylesheet" href="/css/productStyles.css">
	</head>
	<body>
		<div class="nav">
			<ul class="nav-left">
				<li><a th:href="/">Main Page</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="contact.html">Contact</a></li>
				<li><a href="#">View Products</a></li>
			</ul>
			<ul class="nav-right">
				<li><a href="signup.html">Sign Up</a></li>
				<li><a href="login.html">Login</a></li>
			</ul>
		</div>
		<div class="products">
			<h2 id="editHeader">
				Update Product
			</h2>
			<form action="#">
				<table id="editProduct">
					<tr>
						<td id="editTag">ID:</td> <!-- ID -->
						<td><input type="text" name="" readonly></td>
					</tr>
					<tr>
						<td id="editTag">Name:</td> <!-- Name -->
						<td><input type="text"></td>
					</tr>
					<tr>
						<td id="editTag">Brand:</td> <!-- Brand -->
						<td><input type="text"></td>
					</tr>
					<tr>	
						<td id="editTag">Qty. Available:</td> <!-- Qty -->
						<td><input type="number" min="0"></td>
					</tr>
					<tr>	
						<td id="editTag">Price ($):</td> <!-- Price -->
						<td><input type="text"></td>
					</tr>
					<tr>
						<td><button type="submit" id="deleteButton">Delete</button></td>
						<td><button type="submit" id="editButton">Update</button></td>
					</tr>
				</table>
			</form>
		</div>
	</body>
</html>