 html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
}

button {
  font-family: "Red Hat Display", sans-serif;
  cursor: pointer;
}

img {
  width: 100%;
}
.order-card {
  width: 23em;
  box-shadow: 4px 4px 25px rgb(0 0 0 / 7%);
  border-radius: 12px;
  overflow: hidden;
}

.img-div {
  height: 12em;
}

.img-div img {
  height: 100%;
}

.content-div {
  text-align: center;
  padding: 2em;
  background-color: white;
}

.card-title {
  margin: initial;
  font-size: 1.5em;
  color: hsl(223, 47%, 23%);
  font-family:inherit;
}

.card-subtitle {
  margin: 1.5em 0;
  font-size: 0.9em;
  color: hsl(224, 23%, 55%);
}

.plan-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: hsl(225, 100%, 98%);
  margin: 2em 0;
  padding: 1em;
  border-radius: 10px;
  font-size: 0.85em;
}

.plan-about {
  display: flex;
}

.music-icon img {
  width: 2.5em;
  margin-right: 1em;
}

.plan-name {
  color: hsl(223, 47%, 23%);
  font-weight: bold;
  font-size: 1em;
}

.plan-price {
  font-size: 1em;
  color: hsl(224, 23%, 55%);
}

.change-div {
  color: hsl(245, 75%, 52%);
  text-decoration: underline;
  cursor: pointer;
}

.change-div:hover {
  text-decoration: none;
}

.proceed-btn button {
  color: white;
  font-weight: bold;
  border: none;
  background: hsl(245, 75%, 52%);
  padding: 1em;
  width: 100%;
  margin: 0.5em 0;
  border-radius: 10px;
  box-shadow: 0 8px 6px -6px rgb(0 0 0 / 7%);
}
<!-- 
.cancel-btn button {
  color: hsl(223, 47%, 23%);
  font-weight: bold;
  border: none;
  background: transparent;
  padding: 1em;
  width: 100%;
  margin: 0.5em 0;
  border-radius: 10px;
} -->
.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://res.cloudinary.com/dyvivj6d5/image/upload/v1633008330/pattern-background-desktop_rx38qw.svg);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-color: hsl(225, 100%, 94%);
  text-align:center;
}
	
.center {
  margin-left: auto;
  margin-right: auto;
}
.ticket {
    width: 455px;
    max-width: 455px;
	text-align:center;
}
p{
 font-size: 16px;
    font-family: 'Times New Roman';

}	
	.centered{
	font-family: serif;
	}